# Создайте файл .env из копии этого файла и замените значения переменных реальными данными
# Файл .env необходимо добавитьт в .gitignore по соображениям безопасности

# В проекте используется несколько  API-ключей, с сайтов где есть возможность делать запросы бесплатно
# API_KEY_1 - для запроса курса валюты
# API_KEY_2 - для запроса курса акций по компаниям

# API-ключи

# exchangerate-api.com
API_KEY_1=your_api_key_here

# site.financialmodelingprep.com
API_KEY_2=your_api_key_here